header {
  height: 400px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #00b093;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}